# github
github_atom_url: "https://github.com/organizations/hogehoge/hogehoge.private.atom?token=xxxxxxx"

#jenkins
jenkins:
  rss_host: "jenkins.xxx.com"
  rss_category: "/rssAll"
  basic_auth: true
  user: 'someone'
  pass: 'password'

#skype
chat_id: "#xxxxxxxxx/$xxx;xxxxx"
