# github
github:
  enable: true
  atom_url: "https://github.com/organizations/hogehoge/hogehoge.private.atom?token=xxxxxxx"

#jenkins
jenkins:
  enable: true
  rss_host: "jenkins.xxx.com"
  rss_category: "/rssAll"
  basic_auth: true
  user: 'someone'
  pass: 'password'

#skype
skype:
  enable: false
  chat_id: "#xxxxxxxxx/$xxx;xxxxx"

#growlnotify mac only
growlnotify:
  enable: false